@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .sidepanel {
    display: none;
  }
  .hamburger {
    top: 20px;
    right: 20px;
  }
  .promo {
    padding-top: 120px;
  }
  .about-me {
    padding: 0;
    img {
      width: 100%;
      object-fit: cover;
    }
    &__text {
      width: 100%;
    }
    &__item {
      width: 200px;
    }
    &__grid {
      padding: 80px 30px 30px 30px;
      grid-template-columns: 300px auto;
    }
  }
  .resume {
    padding: 40px 20px;
    &__wrapper {
      gap: 20px;
    }
  }
  .tools {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-auto-rows: 1fr;
    }
    &__ratings {
      margin-top: 60px;
      justify-content: center;
      grid-template: repeat(3, minmax(70px, auto)) / repeat(2, 350px);
    }
  }
  .portfolio {
    &__wrapper {
      grid-template: repeat(2, 230px) / repeat(4, 235px);
      grid-auto-rows: auto;
    }
  }
  .contacts {
    padding: 50px;
    &__wrapper {
      width: 100%;
      grid-template-columns: 300px 100%;
      justify-content: space-between;
      gap: 30px;
    }
    &__descr {
      width: 500px;
    }
    &__input {
      width: 90%;
    }
    &__photo {
      width: 300px;
      object-fit: cover;
    }
    &__form {
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .promo {
    &__title {
      width: 380px;
    }
  }
  .about-me {
    &__grid {
      grid-template-columns: repeat(2, minmax(200px, auto));
      grid-template-rows: repeat(2, minmax(200px, auto));
      grid-template-areas:
        "foto text"
        "skills skills";
    }
  }
  .resume {
    &__wrapper {
      grid-template-columns: auto;
      grid-auto-rows: 1fr;
    }
    &__colum {
      margin: 0 auto;
      width: 450px;
    }
  }
  .tools {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-auto-rows: 1fr;
    }
    &__items {
      width: 100%;
    }
    &__ratings {
      margin-top: 60px;
      grid-template: repeat(6, minmax(70px, auto)) / repeat(1, 350px);
    }
  }
  .portfolio {
    &__wrapper {
      justify-content: center;
      grid-template: repeat(2, 230px) / repeat(3, 235px);
      grid-auto-rows: auto;
      grid-template-areas:
        "uber work roulet"
        "coffe puls puls";
    }
  }
  #uber {
    grid-area: uber;
  }
  #work {
    grid-area: work;
  }
  #roulet {
    grid-area: roulet;
  }
  #coffe {
    grid-area: coffe;
  }
  #puls {
    grid-area: puls;
  }
  
  .contacts {
    &__wrapper {
      position: relative;;
    }
    &__photo {
      position: absolute;
      width: 200px;
      left: 350px;
    }
    &__descr {
      width: 100%;
    }
    &__form {
      grid-template: 45px 200px 45px / repeat(2, 100%);
    }
    &__input {
      width: 90%;
    }
    &__textarea {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .hamburger {
    top: 20px;
    right: 20px;
    span {
      width: 30px;
      height: 4px;
    }
    span.long {
      width: 40px;
    }
  }
  .title {
    &_fz58 {
      font-size: 48px;
    }
  }
  .promo {
    padding-top: 100px;
    &__title {
      width: 300px;
      line-height: 46px;
    }
  }
  .about-me {
    img {
      width: 220px;
      height: 380px;
      object-fit: cover;
    }

    &__name {
      margin-top: 10px;
      font-size: 30px;
      line-height: 36px;
    }
    &__descr {
      margin-top: 20px;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .portfolio {
    &__wrapper {
      justify-content: center;
      grid-template: repeat(3, 230px) / repeat(2, 250px);
      grid-auto-rows: auto;
      grid-template-areas:
        "uber work"
        "coffe roulet"
        "puls puls";
    }
  }
  .contacts {
    
    &__wrapper {
      display: block;
      width: 90%;
    }
    &__form {
      display: block;
    }
    &__photo {
      display: none;
    }
    &__descr {
      width: 100%;
    }
  
    &__input {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .title {
    &_fz58 {
      font-size: 28px;
    }
    &_fz24 {
      font-size: 18px;
    }
  }
  .promo {
    background: url("../../img/main_bg.jpg") no-repeat 55% / cover;
    &__title {
      line-height: 38px;
    }
    &__subtitle {
      width: 300px;
    }
    &__btns {
      margin-top: 30px;
    }
    &__link {
      padding: 4px;
      width: 100px;
      height: 28px;
      font-size: 12px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .menu {
    &__block {
      width: 250px;
      padding-left: 20px;
      padding-top: 140px;
    }
  }
  .about-me {
    padding: 40px 15px;
    &__grid {
      grid-template-columns: repeat(1, minmax(auto));
      grid-template-rows: repeat(3, minmax(auto));
      gap: 20px;
      grid-template-areas:
        "text"
        "foto "
        "skills";
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__skills {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 25px;
    }
  }
  .resume {
    &__wrapper {
      padding: 40px 20px;
    }
    &__colum {
      width: 100%;
    }
  }
  .tools {
    padding: 0;
    &__grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-auto-rows: 1fr;
    }
    &__items {
      margin: 0 auto;
    }
    &__ratings {
      grid-template: repeat(6, minmax(70px, auto)) / repeat(1, 350px);
    }
    &__ratings {
      width: 150px;
      grid-template: repeat(6, minmax(70px, auto)) / repeat(1, 80px);
      &-line {
        width: 250px;
      }
    }
  }
  .portfolio {
    &__wrapper {
      justify-content: center;
      grid-template: repeat(5, 230px) / repeat(1, 100%);
      grid-auto-rows: auto;
      grid-template-areas:
        "uber"
        'work'
        "roulet"
        'coffe'
        "puls";
    }
  }
  .contacts {
    &__form {
      display: block;
    }
    &__triggers {
      display: block;
    }
    &__btn {
      margin-top: 20px;
    }
    &__policy {
      margin-top: 10px;
    }
  }
}

